

.container{
    margin: auto;
    /* background-color: #d2d2d2; */
    background: linear-gradient(180deg, #e9e5f0, #e9e5f0, #c3ced1, #8c9ba0);
    height: 200vh;
    border-radius: 40px;
    color: rgb(48, 48, 48);
    padding: 50px;
}

@media (max-width: 1150px) {


}