.section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 5%;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 45%;
}

.section-two p {
  text-align: center;
}
