@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap");


body {
  margin: 0;
  /* background-color: #e9e5f0; */
  /* background-color: #353435; */
  /* padding: 80px; */
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
